*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 70px;
}

header .row {
    --bs-gutter-x: 0;
}

.ms_logo_small {
    height: 2rem;
}

input.bg-secondary[type=search]  {
    --bs-bg-opacity: .15;
}

.ms_search_bar {
    padding: 7px 4px 7px 40px;
    background: transparent url("img/icons8-search.svg") no-repeat 13px center;
    background-size: 20px 20px;
}

.ms_question_icon {
    font-size: 0.5rem;
    text-align: center;
    line-height: 1rem;
    height: 1rem;
    width: 1rem;
}

#ms_side_bar {
    width: 150px;
    height: calc(100vh - 70px);
    background-color: #051e34;
}

#ms_content {
    height: calc(100vh - 70px);
}

#ms_side_bar .btn-outline-light {
    --bs-btn-hover-bg: rgba(248, 249, 250, 0.700);
}

#ms_top_bar {
    background-color: #1b72e8;
}

.badge {
    background-color: #053c6daf;
}

@media screen and (max-width:991px) {
    #ms_side_bar {
        width: 50px;
    }
}